<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin
      filename="libgz_ros2_control-system.so"
      name="gz_ros2_control::GazeboSimROS2ControlPlugin">

      <!-- Archivo YAML con los controladores PID -->
      <parameters>$(find motor_controller)/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
