<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="spot_micro">

  <!-- physical model -->
  <xacro:include filename="$(find model_sentra)/urdf/model_sentra.xacro"/>

  <!-- Control ros2_control -->
  <xacro:include filename="$(find model_sentra)/urdf/micro_control.xacro"/>

  <!-- Plugin Gazebo -->
  <xacro:include filename="$(find model_sentra)/urdf/micro_gazebo.xacro"/>

</robot>
